*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.wrapper{
    background-image:  url('../../images/overlay.png'), url('../../images/desert.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: #212931;
    cursor: pointer;
    display: block;
}

a:hover{
    color: #18bfef !important;
    border-color:#18bfef !important; 
}

.hamburger{
    position: fixed;
    display: flex;
    top: 2%;
    right: 2%;
    font-size: .8rem;
    color: white;
    z-index: 1000;
    cursor: pointer;
    padding: 0.45rem 1rem;
}

.hamburger.background{
   box-shadow:0 0.125rem 0.75rem 0 rgb(30 37 45 / 25%);
   background-color:rgba(255, 255, 255, 0.875);
   color: black;
}

.hamburger i{
    margin-top: 2px;
    display: none;
}
.hamburger i.active{
    display: block;
}


.hamburger p{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 6px;
    display: none;
}

.hamburger p.active{
    display: block;
}




/* menu */

aside.menu{
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 70vw;
    top: 0;
    right: -70vw;
    transition: .6s;
    z-index: 1;
}

aside.menu div.close{
    position: absolute;
    top: 3%;
    right: 5%;
    font-size: 1.1rem;
    color: rgb(143, 143, 143);;
}

aside.menu.active{
    right: 0;
}

aside.menu ul{
    list-style: none;
    text-transform: uppercase;
    font-weight:900;
    font-size: 0.9rem;
    letter-spacing: 0.075em;
    display: flex;
    flex-direction: column;
    height: 40%;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
}
aside.menu ul li{
    flex-basis: 25%;
    align-items: center;
    display: flex;
}




aside.menu ul li:nth-of-type(1),
aside.menu ul li:nth-of-type(2){
    border-bottom: 1px solid rgba(182, 184, 185, 0.3);
}

aside.menu ul li.socials{
    display: flex;
}
aside.menu ul li.socials a{

    display: inline-block;
    text-align: center;
    margin-right: 0.7rem;
}
li.socials a i{
    font-size: 1.3rem;
    /* padding: 3px; */
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(182, 184, 185, 0.3);
    border-radius: 50%;
}


/* aside.menu ul li a{
    color: #414850;
    text-decoration: none;
} */



.mainHeader{
    width: 100%;
    height: 80vh;
    position: relative;
    /* padding: 3%; */
}

.mainHeader .headerTitle{
    letter-spacing: 0.08em;
    position: absolute;
    width: 100%;
    bottom: 10%;
    text-align: center;
    line-height: 1.1;
    color: white;
    padding: 0 3%;
    text-shadow: 2px 2px 3px rgb(43, 46, 6);

    animation: headerTextAnimation 1s linear both;
}

.mainHeader .headerTitle h1{
    font-weight: 900;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.mainHeader .headerTitle h2{
    font-weight: 400;
    font-style: italic;
    font-family: serif;
    font-size: 1.1rem;
    line-height: 1.5;
}


@keyframes headerTextAnimation{
    0%{
        bottom: 2%;
        opacity: 0;
    }
    100%{
        bottom: 10%;
        opacity: 1;
    }
}

main article{
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
     padding-left: 3%;
    padding-right: 3%;
    letter-spacing: 2px;  
     align-items: center;
     justify-content: space-around;
    flex-basis: 20%;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(192, 192, 192, .2);
}

main article p.date{
    font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: rgb(61, 61, 61);
    width: 100%;
    text-align: center;
}

main article h1{
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 900;
    text-align: center;
    color: #212931;
}

main article h3{
    font-style: italic;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 2;
    text-align: center;
}

main article img{
    width: 90%;
    flex-basis: 10%;
    /* display: flex; */
}


main article p.button{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    font-weight: 900;
    font-size: 0.7rem;
}

main article p.button a{
    text-transform: uppercase;
    border: 2px solid black;
    padding: 15px;
}

main article.sideArticle h1{
    font-size: 1.7rem;
}


main article.sideArticle h3{
    text-align: justify;
    display: block;
    width: 90%;
    font-style: normal;
}

section.next{
    background-color: #fff;
    height: 15vh;
    text-align: center;
    position: relative;
}

section.next div.next{
    border: 2px solid rgb(192, 192, 192, .2);
    padding: 15px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(56, 56, 56);
}

section.next div.next i{
    padding-left: 8px;
    /* font-size: 0.6rem; */
}



/* footer  */

footer{
    background-color: rgb(250, 245, 245);
    color: #5e656b;
}

div.fields{

    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

div.field{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: right;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 900;
    /* color: rgb(56, 56, 56); */
    
}

div.field input{
    width: 100%;
    flex-basis: 40px;
    border: 2px solid rgb(192, 192, 192, .2);
    background-color: rgb(250, 245, 245);
}
div.field label{
  padding-bottom: 6px;
}


div.field.message input{
    flex-basis: 120px;
}

div.fields input.sendMessage{
 background-color: rgb(250, 245, 245);
 width: 80%;
 font-weight: 900;
font-size: 0.7rem;
text-transform: uppercase;
border: 2px solid #717981;
padding: 15px;
font-family: 'Roboto', sans-serif;
letter-spacing: 2px;
}

footer section.contact{
    height: 60vh;
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
}

footer section.contact section {
    display: flex;
    border: 2px solid rgb(192, 192, 192, .2);
    flex-basis: 25%;
    align-items: center;
    padding-left: 10%;
}

footer section.contact section h4{
    flex-basis: 25%;
    text-transform: uppercase;
 
}
footer section.contact section:last-child p{
    display: flex;
}

footer section.contact section p i{
    font-size: 1.5rem;
    margin-right: 25px;
}
section.copyrights{
    height: 15vh;
    background: transparent;
}